@import './colors.css';

/* disable dragging and text selection */
*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
  box-sizing: border-box;
  background-color: var(--the-background-color);
  transition: all 0.4s ease;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.board-div {
  flex: 0 1 auto;
}

.board {
  border-collapse: collapse;
}
table td{
  border: 1px solid rgba(0, 0, 0, 0.3)
}

/* .cell {
  background-color: var(--backgroundColor);

} */

/* td:hover {
  background-color: gray;
} */
.disable-clicks {
  pointer-events: none;
}
/* .control-space {
  margin-top: 2vh;
  width: 100%;
  text-align: center;
  background-color: aqua;
  flex: 1 1 auto;
}


.control-space p {
  margin: auto auto;
  width: 200px;
  font-size: 1.2em;
  /* line-height: 2em;  
} */

.controls {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--the-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-button {
  width: 25%;
  height: 10%;

  font-size: 1.5em;
}

.controls-restart {
  display: none;
}