@import './colors.css';

/* disable dragging and text selection */
*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  border-collapse: collapse;
  
}


/* .cell {
  background-color: var(--backgroundColor);

} */

td:hover {
  background-color: gray;
}

